@import url(font-awesome.css);
@font-face {
  font-family: 'Apercu Pro';
  src: url("../fonts/ApercuPro-Bold.eot");
  src: local("Apercu Pro Bold"), local("ApercuPro-Bold"), url("../fonts/ApercuPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ApercuPro-Bold.woff2") format("woff2"), url("../fonts/ApercuPro-Bold.woff") format("woff"), url("../fonts/ApercuPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("../fonts/ApercuPro-Regular.eot");
  src: local("Apercu Pro Regular"), local("ApercuPro-Regular"), url("../fonts/ApercuPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ApercuPro-Regular.woff2") format("woff2"), url("../fonts/ApercuPro-Regular.woff") format("woff"), url("../fonts/ApercuPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/meriweather/merriweather-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/meriweather/merriweather-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/meriweather/merriweather-v21-latin-regular.woff2") format("woff2"), url("../fonts/merriweather/meriweather-v21-latin-regular.woff") format("woff"), url("../fonts/merriweather/merriweather-v21-latin-regular.ttf") format("truetype"), url("../fonts/meriweather/merriweather-v21-latin-regular.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

html, body {
  font-family: "Apercu Pro", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.scrolled {
  background: #f5f5f5;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(223, 223, 223, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(223, 223, 223, 0.2);
}

.scrolled .custom-nav-spacing {
  padding: 0 32px;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

.primary-link {
  color: #ec008c;
}

/**************************
  *   HELPERS
  ***************************/
.no-pd {
  padding: 0 !important;
}

.text-bold {
  font-weight: bold;
}

.text-grey-light {
  color: #999;
}

.text-grey-medium {
  color: #666;
}

.text-grey {
  color: #222;
}

.text-black {
  color: #000;
}

.text-white {
  color: #FFF;
}

.on-right {
  margin-right: 1rem;
}

/**************************
  *   TITLES
  ***************************/
.title-1 {
  margin: 1.68rem auto;
}

.sub-heading-1 {
  font-size: 1.2rem;
}

/**************************
  *   HEADER
  ***************************/
.main-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-nav .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .nav-item a {
  font-size: 16px;
  color: #222;
}

.sm-item a {
  display: inline-block;
  margin-right: 5px;
}

.main-nav .nav-item .nav-link {
  color: #222;
}

.nav-item {
  margin-right: 2.5rem;
  padding: 20px 0;
}

li.navbar-dropdown:hover .dropdown-content {
  display: block;
}

li.navbar-dropdown .dropdown-content {
  display: none;
  position: absolute;
  padding: 2rem 5rem;
  margin-top: 20px;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
}

li.navbar-dropdown .dropdown-content .header h3 {
  font-size: 22px;
  color: #EC008C;
  margin-bottom: 10px;
}

li.navbar-dropdown .dropdown-content ul {
  list-style: none;
  padding: 0;
}

li.navbar-dropdown .dropdown-content ul li {
  padding: 5px;
}

li.navbar-dropdown .dropdown-content ul li a {
  font-size: 14px;
  text-decoration: none;
}

li.navbar-dropdown .dropdown-content ul li a:hover {
  color: #EC008C;
}

/**************************
  *   BUTTONS
  ***************************/
.theme-primary-btn {
  display: inline-block;
  padding: 0.4rem 2rem !important;
  background-color: #ec008c;
  text-align: center;
  border-radius: 35px;
  -webkit-box-shadow: 0px 10px 10px rgba(236, 0, 140, 0.3);
          box-shadow: 0px 10px 10px rgba(236, 0, 140, 0.3);
  color: #FFF !important;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none !important;
}

.theme-primary-btn span {
  font-size: 14px;
}

/**************************
  *   HERO SECTION
  ***************************/
.hero {
  position: relative;
  background-image: url(/img/hero-bg.png);
  background-position: center;
  background-size: cover;
  min-height: 728px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-div {
  width: 200px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem !important;
}

#searchByLocation {
  width: 100% !important;
  margin-left: 5px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form .item {
  padding: 1rem 2rem;
  background-color: #FFF;
  font-size: 1.5rem;
  margin-right: 1rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.search-form input, .search-form button {
  outline: none;
  border: none;
}

.search-form #searchByKeyword {
  min-width: 700px;
}

.search-form input::-webkit-input-placeholder {
  font-weight: bold;
  color: #999;
}

.search-form input:-ms-input-placeholder {
  font-weight: bold;
  color: #999;
}

.search-form input::-ms-input-placeholder {
  font-weight: bold;
  color: #999;
}

.search-form input::placeholder {
  font-weight: bold;
  color: #999;
}

.auto-complete {
  position: relative;
}

.auto-complete .list-element {
  display: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 700px;
  left: 0;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow-y: scroll;
  height: 300px;
  margin-top: 1px;
}

.auto-complete .list-element::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.auto-complete .list-element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.auto-complete .list-element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.auto-complete .list-element .list-element-item {
  padding: 0.5rem 0;
}

.auto-complete .list-element .list-element-item a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
}

.auto-complete .list-element .list-element-item a:hover {
  background-color: #e2e0e0;
}

.auto-complete .list-element .list-element-item a i {
  margin-right: 15px;
}

.hero .banner {
  position: absolute;
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 1rem 2rem;
  max-width: 700px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.hero .banner .actions {
  padding: 1rem;
}

/**************************
  *   SERVICE INFO
  ***************************/
.service-info {
  padding-top: 15%;
}

.service-info .card {
  position: relative;
  margin: 2rem;
  -webkit-box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.16);
  min-height: 300px;
  padding: 2rem 3rem;
  border: none;
}

.service-info .card .card-header {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-info .card .card-header h3 {
  font-family: "Merriweather";
  padding: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.service-info .card .card-body, .service-info .card .card-header {
  padding: 0;
}

#main {
  padding: 0 3rem;
}

.header-gap {
  margin-top: 10rem;
}

.main-header h3 {
  font-weight: 700;
}

.filter-div {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 25px;
}

.filter-div .filter-div-item {
  margin-right: 15px;
}

.custom-nav-spacing {
  padding: 2rem;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .box-item {
  cursor: pointer;
  background-color: #fff;
  margin: 0.25rem 0.5rem;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 14px;
}

.box .box-item ul {
  list-style: none;
  padding: 0;
}

.map-container {
  height: 600px;
  width: 100%;
  top: 0;
  left: 0;
}

.map-container #map {
  height: 100%;
}

.catlog-img img {
  width: 70px;
  margin-right: 13px;
  margin-top: 19px;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid #cac4c4;
}

.box-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-heading .info {
  margin-top: 12px;
  margin-left: 7px;
}

.box-heading .info h5 {
  font-weight: 400;
}

.box-heading .info p {
  font-size: 12px;
  color: #685252;
}

.box-info {
  padding: 10px 10px;
}

.box-info ul {
  margin: 0 !important;
}

.box-info li {
  padding: 5px;
  font-size: 13px;
}

.box-info span {
  display: inline-block;
  padding: 0 5px;
}

.box-info .btn-tag-link {
  text-decoration: none !important;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: .4em 1em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75em;
  background: #a7a0a0;
  color: #fff;
}

.box-info .btn-tag-link:hover {
  background: #EC008C;
  color: #fff;
}

.box-info .read-more-btn {
  text-decoration: none !important;
  display: inline-block !important;
  background-color: #EC008C !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 5px 20px !important;
}

#footer {
  background-color: #222222;
  color: #fff !important;
  margin-top: 8rem;
  padding: 10rem 0;
  font-size: 13px;
}

#footer h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer li {
  margin: 10px 0;
}

#footer a {
  text-decoration: none !important;
  color: #fff;
  margin-bottom: 10px;
}

#footer .about {
  padding: 0 3rem;
}

.sub-footer {
  background-color: #222222;
  padding: 10px 5rem;
  color: #fff;
  font-size: 13px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .pagination-item {
  text-decoration: none;
  position: relative;
  margin: 0 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -5px 0px rgba(80, 80, 80, 0.1), inset 0 -10px 0px rgba(150, 150, 150, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -5px 0px rgba(80, 80, 80, 0.1), inset 0 -10px 0px rgba(150, 150, 150, 0.1);
  overflow: hidden;
  color: #093170;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #efefef;
}

.pagination .pagination-item:before, .pagination .pagination-item:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-image: linear-gradient(135deg, #01579b, #0091ea);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pagination .pagination-item:after {
  content: "click";
  color: #fff;
  background-image: linear-gradient(135deg, #093170, #01579b);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.pagination .pagination-item:hover {
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4), inset 0 -5px 0px rgba(80, 80, 80, 0), inset 0 -10px 0px rgba(150, 150, 150, 0);
          box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4), inset 0 -5px 0px rgba(80, 80, 80, 0), inset 0 -10px 0px rgba(150, 150, 150, 0);
}

.pagination .pagination-item:hover:before, .pagination .pagination-item:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pagination .pagination-item:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination .pagination-item.active {
  color: #fff;
  background-image: linear-gradient(135deg, #008094, #18ffff);
}

.single-page-header {
  width: 100%;
  min-height: 250px;
  background-image: url("../img/lil-party/95252068_134867428151579_5077161177964871680_n.jpg");
  background-attachment: cover;
  background-position: center;
  position: relative;
}

.single-page-header .over-lay {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.bookmark-link {
  font-size: 14px;
  font-weight: 500;
  color: #222222 !important;
  text-decoration: none !important;
  margin-left: -2px;
}

.bookmark-link i {
  margin-right: 5px;
}

.bookmark-link i.make-red {
  color: #EC008C;
}

.single-page-header {
  padding: 0 75px;
}

.single-page-header .action-div {
  list-style: none;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-page-header .action-div li {
  margin-right: 25px;
}

.single-page-header .action-div a {
  display: inline-block;
  background-color: #EC008C;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.single-page-header h3 {
  font-weight: 800;
}

.single-page-header .offset-top {
  -webkit-transform: translateY(55%);
          transform: translateY(55%);
}

.single-page-header .supplier-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-page-header .supplier-branding-img {
  max-width: 150px;
}

.single-page-header .supplier-branding-img img {
  width: 100%;
}

.single-page-header .supplier-branding-breadcrumb {
  color: #EC008C;
  margin-left: 15px;
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
}

.single-page-header .supplier-branding-breadcrumb ol {
  list-style: none;
  padding: 0;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-page-header .supplier-branding-breadcrumb ol li {
  margin-right: 5px;
}

.single-page-header .supplier-branding-breadcrumb ol li:not(:last-of-type)::after {
  content: '/';
  margin: 0 5px;
}

.single-page-header .supplier-branding-breadcrumb ol li a {
  color: #EC008C;
  font-weight: 800 !important;
}

.single-page-header .supplier-branding-breadcrumb ol li a.active {
  color: #222222 !important;
}

.main-singe-supplier {
  padding: 0 90px;
  margin-top: 7rem;
  margin-left: 3px;
}

.main-singe-supplier .supplier-ratings i {
  color: #ebb70f;
}

.main-singe-supplier .supplier-ratings .supplier-catlog span {
  display: inline-block;
  background: #EC008C;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.right-social-icons a {
  margin-right: 10px;
}

.supplier-info {
  font-size: 18px !important;
  margin: 2rem 0;
}

.supplier-feature-section {
  list-style: none !important;
  padding: 0 !important;
}

.supplier-feature-section li {
  padding: 5px 0;
}

.supplier-feature-section li i {
  margin-right: 9px;
  color: #EC008C;
}

.supplier-feature-section li span {
  font-size: 14px;
}

.supplier-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.primary-btn {
  text-decoration: none !important;
  display: inline-block !important;
  background-color: #EC008C !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 5px 20px !important;
}

.custom-submit-btn-lg {
  display: inline-block !important;
  margin-top: 1.5rem !important;
  margin-left: 0px !important;
}

.supplier-form-div .suppler-contact-form .form-group {
  margin: 0.7rem 0;
}

.supplier-form-div .suppler-contact-form .form-group label {
  margin-bottom: 15px;
}

.similar-suppplier-heading {
  font-weight: bold;
  color: #EC008C;
  text-transform: uppercase;
  margin: 3rem 0;
}

.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.img-1 {
  height: 250px;
  background-image: url("../img/suppliers-img/supplier-1.jpg");
}

.img-2 {
  height: 250px;
  background-image: url("../img/suppliers-img/supplier-2.jpg");
}

.img-3 {
  height: 250px;
  background-image: url("../img/suppliers-img/supplier-3.jpg");
}

.img-container {
  background-size: cover;
  position: relative;
}

.img-container .centered-img-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
}

.img-container .img-btn-white {
  padding: 15px 35px;
  background: #fff;
  color: #000;
  font-size: 13px;
  text-decoration: none;
}

.newsletter {
  padding-top: 6rem;
  width: 75%;
  margin: 0 auto;
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter form input[type="email"] {
  width: 400px;
  border-radius: 15px;
  padding: 20px 25px;
}

.newsletter form input[type="submit"] {
  background-color: #EC008C;
  font-weight: bolder;
  padding: 8px 45px;
  border-radius: 15px;
  color: #fff;
  border: none;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.newsletter h2 {
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;
}

.time-table {
  padding: 0 45px;
  margin-bottom: 15px;
}

.time-table h6 {
  font-size: 18px;
  font-weight: bolder;
  padding-left: 40px;
  margin-bottom: 15px;
}

.time-table .group-list {
  list-style: none !important;
  padding-left: 42px;
}

.time-table .group-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.time-table .group-list li strong, .time-table .group-list li span {
  display: block;
}

.time-table .group-list li strong {
  font-weight: bolder;
}

.mini-map-container {
  width: 100%;
  height: 300px;
  padding: 0 45px;
  margin-left: 40px;
}

.mini-map-container h6 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.mini-map-container #map {
  width: 100%;
  height: 100%;
}

.pricing-info, .contact-info {
  margin-bottom: 1.3rem;
}

.pricing-info ul, .contact-info ul {
  list-style: none;
  padding: 0 !important;
}

.pricing-info ul li, .contact-info ul li {
  margin: 10px 0;
}

.gallary-section {
  margin-top: 2rem;
}

.gallery {
  width: 100%;
  margin-top: 1rem;
}

.gallery .placeholder {
  width: 48%;
  float: left;
}

.gallery .placeholder img {
  border: 1px solid #EEEEEE;
  width: 100%;
  padding: 1% 1% 1% 0;
  min-height: 300px;
  max-height: 600px;
}

.gallery .gallery-images {
  width: 48%;
  margin: 0 1%;
  float: left;
}

.gallery .image img {
  width: 31.333%;
  min-height: 125px;
  float: left;
  margin: 1%;
  cursor: pointer;
}

.categories {
  background: #fff;
  padding: 6rem 0;
}

.categories-header {
  text-align: center;
  margin-bottom: 2rem;
}

.categores-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
}

.categores-container .bg-even:nth-child(even) {
  background-color: #EC008C;
}

.categores-container .bg-even:nth-child(even) a {
  color: #fff;
  text-decoration: none;
}

.categores-container .bg-odd:nth-child(odd) {
  background-color: #EC008C;
}

.categores-container .bg-odd:nth-child(odd) a {
  color: #fff;
  text-decoration: none;
}

.categores-container .cat-box {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.categores-container .cat-box a {
  display: block;
}

.categores-container .cat-box span {
  display: block;
  text-align: center;
}

.categores-container .cat-box span i {
  font-size: 32px;
}

.blog {
  padding: 3rem 0;
}

.blog-header {
  text-align: center;
  margin-bottom: 3rem;
}

.blog-img {
  width: 350px;
}

.blog-img img {
  width: 100%;
}

.blog-info h6 {
  font-size: 22px;
  font-weight: bolder;
  margin: 1rem 0.5rem;
}

.blog-info p {
  font-size: 16px;
  padding: 0 0.5rem;
}

.blog-info span {
  display: inline-block;
  padding: 0 .5rem;
}
/*# sourceMappingURL=main.css.map */